<!-- search form -->
<form class="search-form">
    <mat-form-field>
        <input #keyword type="text" matInput [formControl]="searchKeyword" [matAutocomplete]="auto" (keyup.enter)="searchPost(keyword.value)">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let tagInfo of suggestTagInfos" [value]="tagInfo.tag">
                {{ tagInfo.tag }} ({{ tagInfo.post_count }})
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>

<!-- posts -->
<ul class="posts">
    <li class="post" *ngFor="let post of posts, withHeight 150">
        <a (click)="viewPost(post)">
            <img [defaultImage]="'https://placeholdit.co//i/150x150?&bg=efefef&fc=cacaca&text=loading'" [lazyLoad]="post.thumbnail_url"
                [offset]="150" />
        </a>
    </li>
</ul>

<!-- gallery -->
<div class="gallery-container" *ngIf="galleryVisible">
    <button class="close-button" (click)="closeGallery()">
        <i class="fa fa-close"></i>
    </button>
    <ngx-gallery class="gallery" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
</div>